<footer>
   <div class="f-wrap">
      <section class="f-column">
        <a href="#">FAQs</a>
        <a href="#">Contact Us</a>
        <a href="#">Feedback</a>
        <a href="#">Privacy Policy</a>
     </section>

     <section class="f-column">
        <a href="#">Critic Submission</a>
        <a href="#">Licensing</a>
        <a href="#">Advertise</a>
        <a href="#">Careers</a>
     </section>

     <section class="f-column">
       <a href="#">Follow us on</a>
       <br>
        <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
      </section>
  </div>
  <div class="legality">
        © Copyright 2018 LEVA
      </div>
</footer>