.reservation-table {
    border-collapse: unset;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td{
    vertical-align: unset;
    border-bottom: 2px solid #DC5154;
    border-top:unset;
}