
.theatre {
  display: flex;
  margin-top: 70px;
  margin-left: 550px;  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theatre-heading{
  padding-top: 5em !important;
  padding-bottom: 0em !important;
  padding-right: 83%;
  font-size: 20px;
}

.card-name{
  -webkit-box-shadow: inset -5px 9px 16px -4px rgba(252,252,252,0.72);
  -moz-box-shadow: inset -5px 9px 16px -4px rgba(252,252,252,0.72);
  box-shadow: inset -5px 9px 16px -4px rgba(252,252,252,0.72);
      background: #245fb3 !important;
  color: whitesmoke !important;
}
  

.cinema-seats {
  display: flex;

  .seat {
    cursor: pointer;

    &:hover:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 7px;
    }

    &.active {}

    &.active:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 7px;
    }
  }
  .seatReserved{
    cursor: pointer;

    &:hover:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 7px;
    }

    &.active {}

    &.active:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 7px;
    }
  }
  .seatSelected {
    cursor: pointer;

    &:hover:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 7px;
    }

    &.active {}

    &.active:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 7px;
    }
  }
}


// Left Seats
.left {

  .cinema-row {
    transform: skew(-15deg);
    margin: 0 6px;
  }

  .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    margin-bottom: 10px;
    transform: skew(20deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }
  .seatReserved{
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #0f12ad, #0f12ad, #0f12ad, #0f12ad, #0f12ad, #0455d8,  #0061ff);
    margin-bottom: 10px;
    transform: skew(20deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)

  }
  .seatSelected {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #029039, #029039, #029039, #029039, #029039, #01bc49,  #00ed5b);
    margin-bottom: 10px;
    transform: skew(20deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }

  .row-2 {
    transform: skew(-13deg);

    .seat {
      transform: skew(18deg);
    }
    .seatReserved {
      transform: skew(18deg);
    }
    .seatSelected {
      transform: skew(18deg);
    }

  }

  .row-3 {
    transform: skew(-12deg);

    .seat {
      transform: skew(16deg);
    }
    .seatReserved {
      transform: skew(16deg);
    }
    .seatSelected {
      transform: skew(16deg);
    }

  }

  .row-4 {
    transform: skew(-11deg);

    .seat {
      transform: skew(15deg);
    }
    .seatReserved {
      transform: skew(15deg);
    }
    .seatSelected {
      transform: skew(15deg);
    }

  }

  .row-5 {
    transform: skew(-10deg);

    .seat {
      transform: skew(12deg);
    }
    .seatReserved {
      transform: skew(12deg);
    }
    .seatSelected {
      transform: skew(12deg);
    }

  }

  .row-6 {
    transform: skew(-9deg);

    .seat {
      transform: skew(10deg);
    }
    .seatReserved {
      transform: skew(10deg);
    }
    .seatSelected {
      transform: skew(10deg);
    }

  }

  .row-7 {
    transform: skew(-7deg);

    .seat {
      transform: skew(8deg);
    }
    .seatReserved {
      transform: skew(8deg);
    }
    .seatSelected {
      transform: skew(8deg);
    }

  }
}





// Right Seats
.right {
  margin-left: 70px;

  .cinema-row {
    transform: skew(7deg);
    margin: 0 6px;
  }

  .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    margin-bottom: 10px;
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }
  .seatReserved{
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #0f12ad, #0f12ad, #0f12ad, #0f12ad, #0f12ad, #0455d8,  #0061ff);
    margin-bottom: 10px;
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)

  }
  .seatSelected {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #029039, #029039, #029039, #029039, #029039, #01bc49,  #00ed5b);
    margin-bottom: 10px;
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }

  .row-2 {
    transform: skew(9deg);

    .seat {
      transform: skew(-10deg);
    }
    .seatReserved {
      transform: skew(-10deg);
    }
    .seatSelected {
      transform: skew(-10deg);
    }
  }

  .row-3 {
    transform: skew(10deg);

    .seat {
      transform: skew(-12deg);
    }
    .seatReserved {
      transform: skew(-12deg);
    }
    .seatSelected {
      transform: skew(-12deg);
    }

  }

  .row-4 {
    transform: skew(11deg);

    .seat {
      transform: skew(-15deg);
    }
    .seatReserved {
      transform: skew(-15deg);
    }
    .seatSelected {
      transform: skew(-15deg);
    }

  }

  .row-5 {
    transform: skew(12deg);

    .seat {
      transform: skew(-16deg);
    }
    .seatReserved {
      transform: skew(-16deg);
    }
    .seatSelected {
      transform: skew(-16deg);
    }

  }

  .row-6 {
    transform: skew(13deg);

    .seat {
      transform: skew(-18deg);
    }
    .seatReserved {
      transform: skew(-18deg);
    }
    .seatSelected {
      transform: skew(-18deg);
    }

  }

  .row-7 {
    transform: skew(15deg);

    .seat {
      transform: skew(-20deg);
    }
    .seatReserved {
      transform: skew(-20deg);
    }
    .seatSelected {
      transform: skew(-20deg);
    }

  }
}

.proceed-div{
    margin: auto;
    width: fit-content;
    padding-left: 8em;
    margin-bottom: 50px;
}