// navigation

.l-header{
  font-size: 16px;
  padding: 0 $padding-hrz;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  > *{
    margin-top: 10px;
    margin-bottom: -15px;
  }
}

.l-header__logo{
  width: 250px;
  // height: 33px;
  // fill: $color-red;
}

.l-header__browse{
  color: $color-red;
  font-weight: bold;
  margin-right: auto;
  margin-left: 40px;
  padding-right: 40px;
}

.l-header__search{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-top: -8px;
  font-size: 12px;
  padding-left: 7px;
}
.l-header__nav{
  display: flex;
  color: white;
  > * + *{
    margin-left: 32px;
  }
}
.logout
{
  cursor: pointer;
  color: black;
}
.dropdown-toggle
{
  cursor: pointer;
}
.dropdown-menu
{
  min-width: 130px;
}
.dropdown-menu:hover
{
  background-color: whitesmoke;
}
.username
{
  color: #DC5154;
}