<header class="l-header">
  <div class="l-header__logo">
<img width="1101" alt="logo2" src="https://image.ibb.co/jszFWJ/Untitled_1.png">
</div>

<ul class="l-header__nav">
    <input class="l-header__search" type="text" placeholder="Seach movies...">
    <li>{{#link-to 'showing'}}Movies{{/link-to}}</li>
    {{#if session.isAuthenticated }}
    <li>{{#link-to 'new-showing'}}Add new showing{{/link-to}}</li>
    <div class="dropdown">
      <li class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Welcome, <b class="username">{{session.data.authenticated.user.username}}!</b>
        <b class="caret"></b>
      </li>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="logout"><li {{action 'logout'}}>Log out</li></a>
      </div>
    </div>

    {{else}}
      <li>{{#link-to 'login'}}Log in{{/link-to}}</li>
      <li>{{#link-to 'signup'}}Sign up{{/link-to}}</li>
    {{/if}}
  </ul>
</header>