<div class="container-fluid body signup-container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8 login-box">
      <div class="col-lg-12 login-key">
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <img class="img-form" src="/assets/images/tickets.png">
      <div class="col-lg-12 login-title">
      CHECKOUT SUCCESFULL<hr />
      </div>
      <div class="col-lg-12">
         You have successfully reserved and payed for your ticket.<br><br>
         {{#link-to "showing"}}<button class="btn btn-danger">RETURN TO HOMEPAGE</button>{{/link-to}}
         <br><br><br>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>




